<div *ngIf="fileData" class="preview-container flexed center" [ngClass]="{'thumbnail': isThumbnail}">
    <section *ngIf="showSection.image" class="file-preview {{fileTypeGroup}}">
        <img [src]="fileData.file"
             alt="">
    </section>

    <section *ngIf="showSection.video" class="file-preview {{fileTypeGroup}}">
        <video [ngClass]="{ 'thumbnail': isThumbnail }"
               [src]="fileData.file"></video>
    </section>

    <section *ngIf="showSection.other" class="file-preview {{fileTypeGroup}}">
        <div>
            {{extractType(fileData.file.type)}}
        </div>
    </section>
</div>

<div *ngIf="fileUrl" class="preview-container flexed center" [ngClass]="{'thumbnail': isThumbnail}">
    <section *ngIf="showSection.image" class="file-preview {{fileTypeGroup}}">
        <img [src]="fileUrl.url" alt="">
    </section>

    <section *ngIf="showSection.video" class="file-preview {{fileTypeGroup}}">
        <video
               [src]="fileUrl.url"></video>
    </section>

    <section *ngIf="showSection.other" class="file-preview {{fileTypeGroup}}">
        <div>{{fileUrl.type}}
        </div>
    </section>
</div>
