.app-container {
  position: relative;
  height: 100vh;

  .dev-banner {
    position: fixed;
    top: 0;
    right: 0;
    background: rebeccapurple;
    color: white;
  }

  .app-nav {
    gap: 1rem;
    padding-top: 9.5rem;
    border-right: 1px solid rebeccapurple;
  }

  .app-content {
    width: 100%;
  }
}
