<div class="home-container pro-squared flexed col">
    <mat-toolbar>
        <span>FirstRow</span>
    </mat-toolbar>

    <div class="content flexed col padded">
        <div class="sized-box-4"></div>
        <div class="date-time flexed col">
            <div class="time">

                <span class="mat-display-4">
                    {{time.h}} : <span *ngIf="time.m <10">0</span>{{time.m}}
                </span>
                <span class="mat-display-2"> : <span *ngIf="time.s <10">0</span>{{time.s}}
                </span>
            </div>
            <div class="date">{{date | date}}</div>
        </div>

        <div class="content-items flexed col">
            <div class="sized-box-4"></div>

            <div class="apps-container">
                <h3>Quick actions</h3>
                <div class="apps flexed">
                    <button mat-flat-button color="accent">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-flat-button color="primary">
                        <mat-icon>message</mat-icon>
                    </button>
                    <button mat-flat-button color="primary">
                        <mat-icon>task</mat-icon>
                    </button>
                    <button (click)="signOut()" mat-flat-button color="warn">
                        <mat-icon>power_settings_new</mat-icon>
                    </button>
                </div>
            </div>

            <div class="tasks-summary">
                <div class="sized-box-2"></div>
                <ng-container *ngIf="(userSvc.state.user$ |async)?.name as name; else emailElseTemplate">
                    <h4>Hello {{ name }}</h4>
                </ng-container>
                <ng-template #emailElseTemplate>
                    <h4>Hello {{ (userSvc.state.user$ |async)?.email }}</h4>
                </ng-template>


                <p class="mat-body">
                    You dont have any tasks today
                </p>
            </div>
        </div>

    </div>
</div>
