<div class="page-container">
    <section class="form-container mat-drawer-container">
        <mat-tab-group dynamicHeight mat-align-tabs="center">
            <mat-tab label="Sign In">
                <div>
                    <div class="sized-box"></div>

                    <form [formGroup]="signInForm" (ngSubmit)="signIn()">
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Email</mat-label>
                                <input formControlName="email" matInput type="email" placeholder="your email...">
                                <mat-icon matSuffix>mail</mat-icon>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Password</mat-label>
                                <input formControlName="password" matInput type="password" placeholder="password...">
                                <mat-icon matSuffix>lock</mat-icon>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-checkbox formControlName="saveSession">
                                Save Log in session
                            </mat-checkbox>
                        </p>
                        <div class="sized-box-3"></div>
                        <div class="flexed">
                            <button type="submit" mat-flat-button color="primary">Log In</button>
                            <span class="spacer"></span>
                            <button type="button" (click)="googleSignIn()" mat-flat-button color="primary">G</button>
                        </div>
                    </form>
                </div>
            </mat-tab>
            <mat-tab label="Sign Up">
                <div>
                    <div class="sized-box"></div>

                    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Name</mat-label>
                                <input formControlName="name" matInput type="text" placeholder="your name...">
                                <mat-icon matSuffix>text_format</mat-icon>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Email</mat-label>
                                <input formControlName="email" matInput type="email" placeholder="your email...">
                                <mat-icon matSuffix>mail</mat-icon>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Password</mat-label>
                                <input formControlName="password" matInput type="password" placeholder="password...">
                                <mat-icon matSuffix>lock</mat-icon>
                            </mat-form-field>
                        </p>
                        <div class="flexed center">
                            <button type="submit" mat-flat-button color="primary">Sign up</button>
                        </div>
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group>
    </section>
</div>
