<div class="page-container">

    <ng-container *ngIf="authPageSvc.state.loading$|async; else formsTemplate">
        <app-page-is-loading></app-page-is-loading>
    </ng-container>

    <ng-template #formsTemplate>
        <section class="forms-container flexed center">
            <div class="forms mat-drawer-container ">
                <mat-tab-group dynamicHeight mat-align-tabs="center">
                    <mat-tab label="Sign In">
                        <div>
                            <div class="sized-box"></div>

                            <app-sign-in></app-sign-in>
                        </div>
                    </mat-tab>

                    <mat-tab label="Sign Up">
                        <div>
                            <div class="sized-box"></div>
                            <app-sign-up></app-sign-up>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </section>
    </ng-template>
</div>
