.page-container {
  background-color: rgb(146, 45, 185);
  height: 100%;
  width: 100%;

  .forms-container {
    height: 100%;
    width: 100%;
    padding: 1rem;

    .forms {
      padding: 1rem;
      border-radius: 1rem;
      width: 100%;
      min-width: 250px;
      max-width: 400px;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
      .mat-form-field {
        width: 100%;
      }
    }
  }
}
