// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import './assets/styles/mat-colors.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fala-primary: mat-palette($mat-indigo);
$fala-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fala-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$fala-theme: mat-dark-theme(
  (
    color: (
      primary: $fala-primary,
      accent: $fala-accent,
      warn: $fala-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($fala-theme);

// APP CUSTOM STYLES
@include candy-carousel-theme($fala-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
* {
  box-sizing: border-box;
}

// ################### THUMBS
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .desktop-only {
    display: inherit !important;
  }

  .mobile-only {
    display: none !important;
  }

  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #12192c77;
    border-radius: 4px;
    background-color: #3e445977;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 0px;
    background-color: #3e445977;
  }

  .horizontal-scroll:hover::-webkit-scrollbar,
  .horizontal-scroll:focus::-webkit-scrollbar {
    height: 6px;
  }

  .horizontal-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #fa4bb4;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #fa4bb477;
  }
}

// *################### TEXT
.text {
  &.mute {
    opacity: 0.7;
  }
  &.thin {
    font-weight: 300;
  }
}

.mat-body {
  opacity: 0.95;
}

// *################### PADDINGS AND MARGINS
.padded {
  padding: 1rem;

  &-y {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &-x {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-05 {
    padding: 0.5rem;
    &-y {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    &-x {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  &-2 {
    padding: 2rem;
    &-y {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    &-x {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
.margined {
  margin: 1rem;

  &-y {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &-x {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &-05 {
    margin: 0.5rem;
    &-y {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    &-x {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  &-2 {
    margin: 2rem;
    &-y {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    &-x {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}

// *################### SIMPLE COMPONENTS
.sized-box {
  width: 1rem;
  height: 1rem;

  &-05 {
    width: 1rem * 0.5;
    height: 1rem * 0.5;
  }

  &-15 {
    width: 1rem * 1.5;
    height: 1rem * 1.5;
  }

  &-2 {
    width: 1rem * 2;
    height: 1rem * 2;
  }

  &-3 {
    width: 1rem * 3;
    height: 1rem * 3;
  }

  &-4 {
    width: 1rem * 4;
    height: 1rem * 4;
  }
}

.flexed {
  display: flex;

  &.col {
    flex-direction: column;
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.center-y {
    // align-items: center;
    // align-content: center;
    justify-content: center;
  }
  &.center-x {
    justify-content: center;
  }
}

.spacer {
  flex: 1 1 auto;
}

.shadowed {
  box-shadow: 0px 2px 4px -1px rgba(146, 45, 185, 0.2),
    0px 4px 5px 0px rgba(146, 45, 185, 0.14),
    0px 1px 10px 0px rgba(146, 45, 185, 0.12);

  &-8 {
    box-shadow: 0px 5px 5px -3px rgba(146, 45, 185, 0.2),
      0px 8px 10px 1px rgba(146, 45, 185, 0.14),
      0px 3px 14px 2px rgba(146, 45, 185, 0.12);
  }
}

.icon {
  width: 24px;
  height: 24px;
}

// ################################ MATERIAL OVERRIDE

// !Pro-squared theme
.pro-squared {
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    min-width: 40px;
    padding: 0;
  }
}

.mat-toolbar {
  background: transparent;
}

.app-input {
  padding: 0.5rem;
  font-size: inherit;
  line-height: 1.2rem;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0.25rem;
}

// ! End pro-squared theme
.mat-badge-content {
  box-shadow: 0px 2px 4px -1px rgba(146, 45, 185, 0.2),
    0px 4px 5px 0px rgba(146, 45, 185, 0.14),
    0px 1px 10px 0px rgba(146, 45, 185, 0.12);

  box-shadow: 0px 5px 5px -3px rgba(146, 45, 185, 0.2),
    0px 8px 10px 1px rgba(146, 45, 185, 0.14),
    0px 3px 14px 2px rgba(146, 45, 185, 0.12);
}

// ******** CHAT MODULE STYLES ************
.chat-tabs {
  .mat-tab-body-content {
    height: calc(100vh - 50px) !important;
    overflow-y: auto;
  }

  .mat-tab-label {
    padding: 0 1rem;
    min-width: 1rem;
  }
}

// ******** view-conversation.component ************
.message-inputs {
  height: auto;

  &.mat-toolbar {
    font: 400 1rem/1.2rem Roboto, 'Helvetica Neue', sans-serif;
  }
  .mat-form-field {
    padding: 0.5rem;
    flex: 1 1 auto;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5rem 0 1rem 0;
    border-top: 0.54375em solid transparent;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}
